<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <img class="userPic" src="/images/chase-pic.jpg" alt="profile picture">
            <div class="userDetails">
                <h1>Chase Curtis</h1>
                <span>Computer Science Major</span>
            </div>
            <div class="home">
                <ion-icon name="school"></ion-icon>
            </div>
            <div class="projects">
                <ion-icon name="folder"></ion-icon>
            </div>
            <div class="contact">
                <ion-icon name="mail"></ion-icon>
            </div>
        </nav>
    </div>
    <div class="employment">
        <h1>Prior Employment: </h1>
        <p>Eleven Lakes Brewing, start: July 2021, current.</p>
        <p>EEZ Fusion and Sushi, start: 2019, end: 2020.</p>
    </div>

    <div class="project">
        <h1>Projects: </h1>
        <p>Automatic plant waterer.</p>
        <p>Application using A*search to move through a maze.</p>
        <p>UNC Charlotte Capstone project.</p>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>